<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión de Asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="welcome-card">
    <h1>Registro de Asistencia</h1>
    <p>Genera un código QR para registrar la asistencia de tus alumnos.</p>
  </div>

  <ion-item>
    <ion-label>Selecciona una Asignatura</ion-label>
    <ion-select [(ngModel)]="selectedAsignatura" placeholder="Selecciona una asignatura">
      <ion-select-option *ngFor="let asignatura of asignaturas" [value]="asignatura">
        {{ asignatura }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Duración (minutos)</ion-label>
    <ion-input type="number" [(ngModel)]="tiempoLimite" placeholder="Ingresa la duración en minutos" min="1"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="generateQrCode()">Generar QR Ahora</ion-button>

  <ion-list>
    <ion-item *ngFor="let asistencia of asistencias">
      <ion-label>
        <h2>{{ asistencia.asignatura }}</h2>
        <p>Fecha: {{ asistencia.fecha }}</p>
        <p>Hora: {{ asistencia.hora }}</p>
        <p>QR: <img [src]="asistencia.qrCode" alt="Código QR" style="width: 50px; height: 50px;" (click)="showQrFullScreen(asistencia.qrCode)" style="cursor: pointer;" /></p>
      </ion-label>
      <ion-button color="danger" (click)="eliminarAsistencia(asistencia.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
